# Colab default data (not project related)
sample_data/

# Very large files (use Google Drive for these)
X_prequake.npy
y_prequake.npy

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
